.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

.item {
    display: flex;
    
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-name {
    font-weight: bold;
    font-size: 1.1em;
    max-width: 163px;
    white-space: normal;
    overflow-wrap: break-word;
  }
  
  .item-info {
    font-size: 0.9em; 
    color: #666;
    min-width: 186px;
  }

  .item-price {
    margin-right: 20px;
  }
  
  .item-total {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 50px;
    white-space: nowrap;
  }
  
  button {
    margin-left: 10px;
  }
  